*,
*::before,
*::after {
    box-sizing: border-box;
}

.transaction {
    display: flex;
    height: 100vh;
    border-bottom: none;
}

.transaction-sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #868686;
    text-align: center;
}

.transaction-sidebar__title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.transaction-sidebar__item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    gap: 30px;
    text-align: center;
}

.transaction-sidebar__item {
    width: 110px;
    background-color: #EEEFEB;
    border-radius: 4px;
    font-size: 15px;
    color: #000;
}

.transaction-sidebar__item--active {
    background-color: #fff;
    border: 2px solid #000;
    font-weight: 700;
}

.transaction-sidebar__item:hover {
    background-color: #fff;
}

.transaction__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.transaction__profile {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;
}

.transaction__image-wrapper{
    margin-left: 10px;
}

.transaction__image,
.transaction__image--default {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
}

.transaction__username {
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.finish-button {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    padding: 5px;
    background-color: #FF8282;
    border: 1px solid #FF8282;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.transaction__item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;
    gap: 30px;
}

.transaction__item-card {
    margin-left: 10px;
}

.transaction__item-card-image {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.transaction__item-wrapper {
    display: flex;
    flex-direction: column;
}

.transaction__item-name {
    font-size: 30px;
    font-weight: 700;
}

.transaction__item-price {
    font-weight: 500;
    color: #333;
}

.transaction__item-currency {
    font-size: 18px;
}

.transaction__item-price-value{
    font-size: 20px;
}

.transaction__item-tax{
    font-size: 12px;
}

.transaction__chat  {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 16px;
}

.transaction__message {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.transaction__message-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.transaction__message-name {
    font-size: 14px;
}

.transaction__message-image,
.transaction__message-image--default {
    width: 35px;
    height: 35px;
    background-color: #ddd;
    border-radius: 50%;
}

.transaction__message-text {
    max-width: 50%;
    padding: 5px;
    background-color: #ddd;
    font-size: 16px;
    overflow-wrap: anywhere;
}

.transaction__message-text--button {
    background-color: #fff;
    color: #5F5F5F;
    text-shadow: 0 4px 4px #00000040;
}

.transaction__message--other {
    margin-left: 15px;
}

.transaction__message--self {
    align-items: flex-end;
    margin-right: 15px;
}

.transaction__composer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.transaction-textarea {
    flex: 1;
    width: auto;
    min-width: 0;
    margin-left: 15px;
    padding-left: 10px;
    border: solid 1px #5F5F5F;
    font-size: 15px;
    color: #7B7B7B;
    resize: none;
    outline:none;
}

.transaction-image__input {
    display: none;
}

.transaction-image__button {
    padding: 5px 10px;
    border: solid 2px #FF0000;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    color: #FF0000;
}

.transaction__submit-button svg {
    width: 40px;
    height: 40px;
}

.transaction-image__button,
.transaction__submit-button {
    flex-shrink: 0;
}

@media (min-width: 1400px) {
    .transaction-sidebar__item {
        width: 150px;
    }

    .transaction__image,
    .transaction__image--default {
        width: 70px;
        height: 70px;
    }

    .transaction__username {
        font-size: 26px;
    }

    .finish-button {
        font-size: 20px;
    }

    .transaction__item-card-image {
        width: 150px;
        height: 150px;
    }

    .transaction__item-currency {
        font-size: 22px;
    }

    .transaction__item-price-value {
        font-size: 25px;
    }

    .transaction__item-tax {
        font-size: 16px;
    }

    .transaction__message-name {
        font-size: 16px;
    }

    .transaction__message-image,
    .transaction__message-image--default {
        width: 40px;
        height: 40px;
    }

    .transaction__message-text {
        font-size: 18px;
    }

    .transaction-textarea {
        font-size: 18px;
    }

    .transaction-image__button {
        font-size: 18px;
    }

    .transaction__submit-button svg {
        width: 60px;
        height: 60px;
    }

}
