.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 16px;
}

.address__title {
    font-size: 30px;
    font-weight: 700;
}

.address__form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    width: 500px;
}

.address__group {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.address__label {
    font-size: 20px;
    font-weight: 700;
}

.address__error {
    margin-top: 2px;
    color: #ff5555;
}

.address__input,
.address__button {
    width: 100%;
}

.address__input {
    display: block;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 12px;
}

.address__button {
    height: 44px;
    padding: 0 16px;
    border: none;
    border-radius: 6px;
    background-color: #ff5555;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

@media (min-width: 1400px) {
    .address__form {
        width: 600px;
    }

    .address__button {
        height: 48px;
    }

    .address__title {
        font-size: 35px;
    }
}
