.items__tabs {
    position: relative;
    display: flex;
    gap: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    padding-bottom: 6px;
}

.items__tabs::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: #ccc;
    content: "";
    transform: translateX(-50%);
    pointer-events: none;
}

.items__tab {
    padding: 4px 8px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #818181;
    text-decoration: none;
}

.items__tab--active {
    font-weight: bold;
    color: #ff5555;
}

