
.item-show .item-card {
    position: relative;
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

.item-show .item-card__image {
    display: block;
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    background: #ddd;
    border-radius: 8px;
    object-fit: cover;
}

.item-show .item-card__image--placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    background: #ddd;
    border-radius: 8px;
    color: #000;
    font-size: 30px;
}

.item-show .item-card__sold {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    padding: 4px 8px;
    background: #ff5555;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
}

.item-show__price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.item-show__currency {
    font-size: 12px;
}

.item-show__tax {
    font-size: 14px;
}

.item-show__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.item-show__category-badge {
    display: inline-block;
    padding: 4px 8px;
    background:  #f2f2f2;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-align: center;
}