.item-show {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    margin: 50px auto;
    max-width: 900px;
    padding: 0 16px;
}

.item-detail {
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 420px;
}

.item-show .item-card__thumb {
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 6px;
}

.item-show .item-card__image,
.item-show .item-card__image--placeholder {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.item-show .item-card__image {
    object-fit: cover;
}

.item-show .item-card__image--placeholder {
    display: grid;
    place-items: center;
    background-color: #ddd;
    color: #000;
    font-size: 30px;
    text-align: center;
    line-height: 1;
}

.item-show .item-card__sold {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 60%;
    height: 20%;
    padding: 16px;
    border-radius: 4px;
    background-color: #ff5555;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 40px;
    color: #fff;
}

.item-detail__header {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.item-show__price {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.item-show__currency {
    font-size: 12px;
}

.item-show__price-value{
    font-size: 30px;
}

.item-show__tax {
    font-size: 16px;
}

.item-show__meta {
    display: flex;
    margin-left: 30px;
    gap: 20px;
}

.item-show__likes,
.item-show__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}


.icon--star path {
    fill: none;
    stroke: #333;
    stroke-width: 2;
}

.like-button--active .icon--star path {
    fill: #ff9900;
    stroke: #ff9900;
}

.item-show__count {
    font-size: 12px;
    color: #333;
}

.item-show__likes .item-show__count {
    margin-top: -5px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    padding: 0 16px;
    text-align: center;
    background-color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 6px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.item-show__description {
    margin: 10px 0;
}

.item-show__label {
    font-weight: 700;
    white-space: nowrap;
}

.item-show__category,
.item-show__condition {
    display: flex;
    align-items: center;
    gap: 24px;
}

.item-show__category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-show__category-badge {
    display: inline-block;
    padding: 4px 20px;
    background-color:  #ddd;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 900;
    color: #333;
    text-align: center;
    white-space: nowrap;
}

.comment-title {
    color: #5f5f5f;
}

.comment__profile {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.comment__image-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    overflow: hidden;
}

.comment__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment__username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.comment__body {
    margin-top: 10px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: #ddd;

}

.item-detail__title {
    font-size: 20px;
    font-weight: 700;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.comment-form__textarea {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #000;
}

.comment--error {
    color: #ff5555;
}

@media (min-width:1400px) {
    .item-show {
        gap: 56px;
        max-width: 1200px;
    }

    .item-card__thumb {
        width: 500px;
    }

    .item-show,
    .item-detail {
        width: 50%;
    }

    .button {
        width: 100%;
        height: 40px;
    }

    .comment__body,
    .comment-form__textarea {
        width: 100%;
    }
}
