.tabs {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 20px 6px;
    border-bottom: 1px solid #818181;
}


.tab {
    flex: 0 1 auto;
    min-width: 0;
    padding: 4px 8px;
    margin: 0 0 0 80px;
    font-size: 20px;
    font-weight: bold;
    color: #818181;
    text-decoration: none;
}

.tab--active {
    font-weight: bold;
    color: #ff5555;
}

.items__list {
    display: grid;
    gap: 40px;
    margin: 40px 40px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.item-card {
    text-align: left;
}

@media (max-width: 850px) and (min-width: 768px) {
    .items__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.item-card__thumb {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 8px;
}

.item-card__image,
.item-card__sold{
    grid-area: 1 / 1;
}

.item-card__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item-card__image--placeholder {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background: #ddd;
    border-radius: 8px;
    color: #000;
    font-size: 30px;
    text-align: center;
}

.item-card__name {
    margin-top: 8px;
    font-size: 20px;
}

.item-card__sold {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 60%;
    height: 20%;
    padding: 16px;
    border-radius: 4px;
    background: #ff5555;
    font-weight: bolder;
    font-size: 30px;
    color: #fff;
}
